@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  display: block;
  margin: auto;
  margin-top: 20px;
  height: 600px;
  width: 400px;
  border-radius: 10px;
  position: relative;
}
.number {
  line-height: 500px;
  text-align: center;
  font-size: 70px;
}

.diamonds,
.hearts {
  color: red;
}

.hearts::before,
.hearts::after {
  content: "\2665";
}

.diamonds::before,
.diamonds::after {
  content: "\2666";
}

.spades::before,
.spades::after {
  content: "\2660";
}

.clubs::before,
.clubs::after {
  content: "\2663";
}
.card::before,
.card::after {
  font-size: 100px;
}

.card::before,
.card::after {
  position: absolute;
}

.card::before {
  top: -3rem;
  left: 10px;
}
.card::after {
  bottom: 3rem;
  right: 10px;
  transform: scaleY(-1);
}
